---
layout: default
---

<div class="home">

  <h1 class="page-heading">Introduction</h1>

  <p>In this hybrid seminar lab students and faculty will jointly create an online, research-based exhibit based on the most radical and influential style magazine in European history, the <em>Journal des Dames et des Modes</em>.</p>

  <p>The French Revolution of 1789 promised that women and men could completely reinvent themselves, with the help of a total style transformation. Between 1797 and 1804, after the political crisis of the first revolutionary years and before Napoleon became Emperor, the Journal des dames et des modes showed all Europeans how to look, read, and entertain themselves as modern individuals. It rejected the dress rules and materials that had signaled static social rank in favor of mobile self-expression through consumer choice. The change was so radical for women that it was partially reversed after 1804, but for men it endured.</p>

  <p>A rare complete set of the Journal’s revolutionary 1797-1804 plates has recently been rediscovered at the Morgan Library, and digitized. The Morgan has allowed us to design an online presence for its 1797-1804 Journal plates. Though the plates are fashion history cult items, and a few circulate widely on the Internet, only one other complete set is known to survive, held by a small museum in Denmark. This seminar and lab are based on an [experimental approach to the humanities](http://xpmethod.plaintext.in/), in the fullest sense of the word:  What visual modes of digital editions can we imagine? What scholarship, translations, bibliography, and comparative images are relevant? Can we devise a visual “glossary” with high-resolution photographs of materials and construction techniques? How could we launch these plates in New York City, a fashion and technology capital?</p>

  <p>This course will introduce graduate students to techniques used in the creation of digital editions and exhibits. The course is intended mainly for humanities and social science students who are novices with little or no experience with digital production, as well as those who might be familiar with constructing websites or blogs, or even with creating minimal editions. The only technological skill required to take the course: know how to answer email. Through hands on assignments (with plenty of assistance), you will master a variety of skills that constitute literacy in digital humanities, and, by the end of the semester, you will be able to take your newfound digital literacy with you as you pursue your own study, research, and future work.</p>
</div>
